{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{% static 'medicine/main.css' %}">
    <link rel="stylesheet" href=" {%  static 'medicine/reset.css' %} ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <title>Карточка пациента - {{ card.NamePac }}</title>
</head>
<body>
    <div class="container">
        <div class="container_inner">
                <div class="content">
                    <div class="content_inner">
                        <div class="main_content">
                             ФИО: {{ card.NamePac }}
                        </div>
                        <div class="main_content">
                             Номер Полиса: {{ card.Policy}}
                        </div>
                        <div class="main_content">
                            Дата рождения: {{ card.Birth }}
                        </div>
                        <div class="main_content">
                            Место проживания: {{ card.Location }}
                        </div>
                       {% for el in card.diagnosis_set.all %}
                            <div class="main_content">
                                Диагноз: {{ el.Diagnos }}
                            </div>
                           <div class="main_content">
                                Степень тяжести: {{ el.Severity }}
                            </div>
                       {% endfor %}

                        {% for el in card.treatment_set.all %}
                            <div class="main_content">
                                Метод лечения: {{ el.MethodOfThreatment }}
                            </div>
                           <div class="main_content">
                                Время лечения: {{ el.DurationOfTreat }} дн.
                            </div>
                         {% endfor %}
                      <div class="content_button_info">
                            <input type="button" value="Вернуться на главную"  onclick="window.location.href='{% url 'home' %} '">
                            <input type="button" value="Измениить" onclick="window.location.href='{% url 'pacient-update' card.id %}'">
                            <input type="button" value="Удалить" onclick="window.location.href='{% url 'pacient-delete' card.id %}'">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
